{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Welcome to Google Automota, {{ user.name }}!</h1>

    <h6>This is a website to help you with all of your google automation desires, made user friendly (some programming experience is helpful but not needed)!</h6>

    <p> If you are looking for the development page of the website, you can fork it off of <a href="https://github.com/Mattheus-Stearns/CS50/tree/main/Intro%20to%20Computer%20Science/Week%2010%20-%20The%20End/project">GitHub</a>,
     but if you are here for the app, then you are in the right place! On the homepage (this page) you will get a full guide in how this WebApp works, and there are other various 
    pages to which you can access the features of this WebApp. Of course, the main reason why google is used is because of the easy 
    app integration with other google apps, and this WebApp aims to automate some of these integrations as much as possible!</p>

    <h3><a href="/mail">Google Mail</a></h3>
    <p>- Sending emails</p>

    <h3><a href="/calendar">Google Calendar</a></h3>
    <p>- Creating events with a optional maximum of one guest with no location</p>

    <h3><a href="/docs">Google Docs</a></h3>
    <p>- Appending text into documents</p>

    <h3><a href="/sheets">Google Sheets</a></h3>
    <p>- Updating individual cells in sheets</p>

    <h3><a href="/forms">Google Forms</a></h3>
    <p>- Getting the results of the form</p>

    <h3><a href="/search">Google Search</a></h3>
    <p>TODO</p>

    <h3><a href="/news">Google News</a></h3>
    <p>TODO</p>
{% endblock %}