<!DOCTYPE html>

<html lang="en">

    <head>
        
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Relating to external documents -->
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/scripts.js" defer></script>
        <link href="/static/favicon.ico" rel="icon">

        <!-- Variable title of the Page-->
        <title>Google Automata: {% block title %}{% endblock %}</title>
        
    </head>

    <body>

        <nav>



        </nav>

        <main>

            {% block main %}
            {% endblock %}

        </main>

        <footer>



        </footer>

    </body>

</html>
